@charset "UTF-8";
@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans.ttf");
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat.ttf");
}
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #E87C4E #93A3B8;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 5px;
  width: 5px;
}

*::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: #93A3B8;
}

*::-webkit-scrollbar-track:hover {
  background-color: #93A3B8;
}

*::-webkit-scrollbar-track:active {
  background-color: #93A3B8;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #E87C4E;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #CF552C;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #CF552C;
}

* {
  box-sizing: border-box;
  user-select: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Open Sans";
}

a {
  text-decoration: none;
  font-family: "Montserrat";
  color: #fff;
}

body {
  overflow-x: hidden;
}

.loader {
  width: 100vw;
  height: 100vh;
  background-color: #020a14;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
}

.global-container {
  position: relative;
  background-color: #020a14;
  height: auto;
  z-index: 10;
  display: none;
  overflow-x: hidden;
}

.navbar {
  background-color: #030f21 !important;
  box-shadow: 0 3px 13px #000000;
  color: #000000;
}
.navbar .navbar-nav .nav-item {
  position: relative;
}
.navbar .navbar-nav .nav-item > a {
  position: relative;
  transition: 0.25s text-shadow;
  padding-left: 0;
  padding-right: 0;
  margin: 0 12px;
}
.navbar .navbar-nav .nav-item > a:hover {
  color: #fff;
  text-shadow: 2px 0 3px rgba(255, 255, 255, 0.65), -2px 0 3px rgba(255, 255, 255, 0.65), 0 2px 3px rgba(255, 255, 255, 0.65), 0 -2px 3px rgba(255, 255, 255, 0.65);
}
.navbar .navbar-nav .nav-item > a.active {
  color: #e85f31 !important;
}
@keyframes animeBefore {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
.navbar .navbar-nav .nav-item > a.active:hover {
  text-shadow: 2px 0 3px rgba(232, 95, 49, 0.65), -2px 0 3px rgba(232, 95, 49, 0.65), 0 2px 3px rgba(232, 95, 49, 0.65), 0 -2px 3px rgba(232, 95, 49, 0.65);
}
.navbar .navbar-nav .nav-item .dropdown-menu {
  background-color: #030f21;
  border: none !important;
  box-shadow: none;
  padding-top: 0;
}
.navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item {
  color: #afafaf;
}
.navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
  color: #fff;
  background-color: #e85f31;
}
.navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item.active {
  color: #e85f31;
  background: none;
}
.navbar .navbar-nav .nav-item .dropdown-menu.show {
  animation: dropmenuAnim 3s linear forwards;
}
.navbar .btns-container {
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .navbar .user-icon {
    display: none;
  }
  .navbar .btns-container {
    display: flex !important;
  }
  .navbar .nav-item > a.active::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    background-color: #e85f31;
    transform-origin: center;
    animation: animeBefore 0.65s linear forwards;
  }
  .navbar .dropdown-menu {
    padding-left: 0 !important;
  }
}
.footer {
  z-index: -1;
  backdrop-filter: blur(1px);
  background-color: rgba(0, 0, 0, 0.65);
}
.footer div.row {
  border-bottom: 2px solid #01423a;
  border-top: 2px solid #01423a;
}
.footer h5 {
  color: #fff;
}
.footer .footer-copy {
  color: #fff;
}
.footer form p {
  color: rgba(129, 129, 129, 0.65) !important;
}
.footer .social a {
  color: #009e60;
  font-size: 25px;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 576px) {
  .footer-copy {
    font-size: 12.8px;
  }
}
/* Bouton par défaut */
.btn {
  position: relative;
  width: 155px;
  height: 40px;
  background-color: #e85f31;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 45px;
  overflow: hidden;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: bold;
  transition: 0.25s box-shadow;
  /* Span = Ripple */
}
.btn span {
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  animation: animateRipple 1s linear forwards;
}
.btn:hover {
  box-shadow: 0 0 9px #e85f31;
  color: #fff;
}
.btn:focus {
  box-shadow: none;
}

.btn-outlined {
  background: none;
  color: #e85f31;
  border: 1.5px solid #e85f31 !important;
  /* Span = Ripple */
}
.btn-outlined span {
  background-color: #e85f31;
}
.btn-outlined:hover {
  color: #e85f31;
}

.btn-icon {
  font-size: 21.5px;
  border-radius: 3px;
  width: auto;
  height: auto;
}

.trigged i:nth-of-type(1) {
  transform: translateX(-22%);
}
.trigged i:nth-of-type(2) {
  transform: translateY(-50%) scaleX(0.6) !important;
}
.trigged i:nth-of-type(3) {
  transform: translateX(22%);
}

.btn-rounded {
  width: 30px;
  height: 30px;
}

.user-icon {
  font-size: 27px;
  margin: 0 10px;
  border: none !important;
  width: auto !important;
  height: auto !important;
}
.user-icon:hover {
  box-shadow: none !important;
}

.navbar-toggler {
  border-radius: 5px;
  width: 45px;
  height: 38px;
  position: relative;
  border: none !important;
}
.navbar-toggler:hover {
  box-shadow: none !important;
}
.navbar-toggler i {
  pointer-events: none;
  height: 2.3px;
  border-radius: 100px;
  background-color: #e85f31;
  position: absolute;
  transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.732, 1.275);
}
.navbar-toggler i:nth-of-type(1) {
  width: 45%;
  top: 20%;
}
.navbar-toggler i:nth-of-type(2) {
  width: 75%;
  top: 50%;
  transform: translateY(-50%);
  transform-origin: center;
}
.navbar-toggler i:nth-of-type(3) {
  width: 45%;
  bottom: 20%;
}

@keyframes animateRipple {
  0% {
    width: 0;
    height: 0;
    opacity: 0.35;
  }
  100% {
    width: 600px;
    height: 600px;
    opacity: 0;
  }
}
.submitting {
  float: left;
  width: 100%;
  padding: 10px 0;
  display: none;
  font-weight: bold;
  font-size: 12px;
  color: #fff;
}

.input-field {
  border: none;
  outline: none;
  background-color: rgba(1, 66, 58, 0.65);
  height: 40px;
  padding: 3px 15px;
  color: #fff;
  width: 100%;
  border: 1.5px solid transparent;
}
.input-field:focus {
  border: 1.5px solid #e85f31;
}

textarea.input-field {
  height: auto !important;
}

h1 {
  color: #fff;
  position: relative;
}

.presentation img.boule {
  position: absolute;
}
.presentation img.boule:nth-of-type(2) {
  left: 30%;
  top: 70%;
}
.presentation img.boule:nth-of-type(3) {
  left: 50%;
  top: 30%;
  z-index: -1;
}
.presentation img.boule:nth-of-type(4) {
  right: 30%;
  top: 60%;
}

.nosjeux h1,
.nosjeux span,
.nosjeux p {
  text-align: right !important;
}
.nosjeux h1::after {
  left: calc(100% - 75px);
}
.nosjeux img:nth-of-type(2) {
  position: absolute;
  left: 20%;
  top: 57%;
}
.nosjeux img:nth-of-type(3) {
  position: absolute;
  left: 39%;
  top: 30%;
  z-index: -1;
}
.nosjeux img:nth-of-type(4) {
  position: absolute;
  right: 30%;
  top: 61%;
}
.nosjeux img:nth-of-type(5) {
  position: absolute;
  right: 18%;
  top: 10%;
  transform: rotate(36deg);
  animation: gamepadAnim 5.5s ease-in-out infinite;
}

.gara {
  background-color: rgba(0, 0, 0, 0.65);
  border-radius: 80px 80px 0 0;
}
.gara .d-flex {
  display: flex;
  align-items: center !important;
  justify-content: center !important;
}

.nosservices {
  background-color: rgba(0, 0, 0, 0.65);
}
.nosservices .col {
  height: 200px;
  position: relative;
  margin-top: 80px !important;
}
.nosservices .col .card {
  border-radius: 15px;
  background-color: #01423a;
  width: 90%;
  height: 100%;
}
.nosservices .col .card img {
  position: absolute;
  left: 50%;
  top: -45%;
  transform: translateX(-50%);
  transform-origin: left;
  box-shadow: none !important;
}
.nosservices .col .card img:first-of-type {
  animation: imgServicesAnim 6s linear infinite;
  top: -40%;
}
.nosservices .col .card img:last-of-type {
  animation: shadowAnim 6s linear infinite;
  top: 0;
}
.nosservices .col .card p {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16.5px;
  color: #fff;
  text-align: center;
  padding: 0 30px;
}
.nosservices .col .card .card-title {
  position: absolute;
  border-radius: 15px;
  background-color: #009e60;
  margin: 0 !important;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 21.5px;
  font-weight: 800;
  color: #fff;
  padding: 15px 0;
}
.nosservices .col .card .shadow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
}
.nosservices .col:nth-of-type(1) img:first-of-type {
  animation-delay: 1s;
}
.nosservices .col:nth-of-type(1) img:last-of-type {
  animation-delay: 1s;
}
.nosservices .col:nth-of-type(2) img:first-of-type {
  animation-delay: 0.3s;
}
.nosservices .col:nth-of-type(2) img:last-of-type {
  animation-delay: 0.3s;
}
.nosservices .col:nth-of-type(3) img:first-of-type {
  animation-delay: 1.5s;
}
.nosservices .col:nth-of-type(3) img:last-of-type {
  animation-delay: 1.5s;
}

.equipe {
  background-color: rgba(0, 0, 0, 0.65);
}
.equipe .card {
  overflow: hidden;
  background-color: #01423a;
  color: #fff;
  width: 20em;
  height: 85%;
  background-color: #01423a;
  border-radius: 2em;
  box-shadow: 0 0 2em rgba(0, 0, 0, 0.2);
  padding: 2em 1em;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 2em;
}
.equipe .card .card-content {
  width: 100%;
  height: 100%;
}
.equipe .card .card-content .card-image {
  width: 10em;
  height: 10em;
  border-radius: 50%;
  border: 2px solid #e85f31;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  background-color: #009e60;
}
.equipe .card .card-content .card-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.equipe .card .card-content .nom-prenoms {
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 58%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}
.equipe .card .card-content .fonction {
  font-size: 14px;
  font-style: italic;
  position: absolute;
  top: 71%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  line-height: 14px;
}
.equipe .card .card-content .fonction .fondateur {
  color: #e85f31;
}
.equipe .card .card-content .social {
  font-size: 20px;
  font-style: italic;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  line-height: 14px;
  width: 40%;
}
.equipe .card .card-content .social a {
  transition: all 0.3s ease;
}
.equipe .card .card-content .social a:hover {
  transform: scale(0.85);
  color: #e85f31;
}
.equipe .card:hover > .info {
  transform: translateY(0);
}
.equipe .card .btn-rounded {
  position: absolute;
  top: 5%;
  right: 5%;
  transition: transform 0.2s linear;
}
.equipe .card .infos {
  position: absolute;
  width: 100%;
  height: 75%;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 110%);
  background-color: #e85f31;
  transform-origin: center;
  border-radius: 13.5% 0 0 0;
  transition: transform 0.3s linear;
}
.equipe .card .infos ul {
  list-style-type: georgian;
}
.equipe .card .infos span {
  font-weight: 300;
}
.equipe .card .infos .container::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  bottom: 100.1%;
  right: 0.2%;
  border-radius: 0 0 85% 0;
  background-color: #01423a;
}
.equipe .card .infos .container::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  bottom: 99%;
  right: 0%;
  background-color: #e85f31;
}
.equipe .card .infosChecked {
  transform: translate(-50%, 0);
}
.equipe .card .infosCheckedR {
  transform: rotate(225deg);
}
.equipe .swiper {
  width: 100%;
  height: 400px;
}
.equipe .swiper .swiper-pagination-bullet {
  background-color: #afafaf;
}
.equipe .swiper .swiper-pagination-bullet-active {
  background-color: #e85f31;
}
.equipe .swiper .swiper-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
}

.contact {
  background-color: rgba(0, 0, 0, 0.65);
}
.contact ul,
.contact label {
  color: #fff;
}
.contact ul li {
  width: 80%;
  font-size: 16.5px;
  margin: 15px auto;
}
.contact ul i {
  font-size: 16.5px;
  width: 65px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
  border-radius: 50%;
}
.contact label.error {
  font-size: 12px;
  color: #e85f31 !important;
}
.contact #message {
  resize: vertical;
}

.presentation p,
.nosjeux p,
.gara p,
.equipe p,
.nosservices p,
.contact p {
  color: #afafaf;
}
.presentation p strong,
.nosjeux p strong,
.gara p strong,
.equipe p strong,
.nosservices p strong,
.contact p strong {
  color: #e85f31 !important;
  font-style: italic;
  font-weight: 700;
}

.glass {
  backdrop-filter: blur(1.5px);
  z-index: 60;
}

.global-bg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1000;
}
.global-bg div {
  position: relative;
  height: 900px;
}
.global-bg div img {
  position: absolute;
  opacity: 0.2;
}
.global-bg div img.orange {
  width: calc(190px + 20vw);
  height: auto;
  right: -5%;
  top: -5%;
}
.global-bg div img.blanc {
  width: calc(110px + 20vw);
  height: auto;
  right: 25%;
  top: 35%;
}
.global-bg div img.vert {
  width: calc(220px + 20vw);
  height: auto;
  left: -5%;
  bottom: 0;
}

@keyframes gamepadAnim {
  0% {
    transform: translateY(0) rotate(36deg);
  }
  33% {
    transform: translateY(25px) rotate(36deg);
  }
  100% {
    transform: translateY(0) rotate(36deg);
  }
}
@keyframes imgServicesAnim {
  0% {
    transform: scale(1) translate(-50%, 0);
  }
  50% {
    transform: scale(0.9) translate(-50%, 15px);
  }
  100% {
    transform: scale(1) translate(-50%, 0);
  }
}
@keyframes shadowAnim {
  0% {
    transform: scale(0.8) translateX(-50%);
  }
  50% {
    transform: scale(1) translateX(-50%);
  }
  100% {
    transform: scale(0.8) translateX(-50%);
  }
}
@media screen and (max-width: 576px) {
  .game-png {
    width: 100%;
  }
  .nosjeux-rev {
    flex-direction: column-reverse;
  }
  .presentation .row {
    justify-content: center;
  }
  .presentation img.boule:nth-of-type(2) {
    width: 30px;
  }
  .presentation img.boule:nth-of-type(3) {
    width: 17px;
  }
  .presentation img.boule:nth-of-type(4) {
    width: 26px;
  }
  .nosjeux .d-grid {
    justify-content: end;
  }
  .nosjeux .game-png {
    transform: scale(0.7);
  }
  .gara {
    border-radius: 30px 30px 0 0;
  }
}
@media screen and (min-width: 768px) {
  .global-bg img {
    position: absolute;
  }
  .global-bg img.orange {
    height: auto;
    right: -15vw;
    top: -20vh;
  }
  .global-bg img.blanc {
    top: 25vh;
  }
  .global-bg img.vert {
    width: calc(150px + 20vw);
    height: auto;
    right: -15vw;
    bottom: -20vh;
  }
}

/*# sourceMappingURL=style.css.map */
