.footer {
  z-index: -1;
  backdrop-filter: blur(1px);
  background-color: $dark;

  div.row {
    border-bottom: 2px solid $vert;
    border-top: 2px solid $vert;
  }

  h5 {
    color: $blanc;
  }

  .footer-copy {
    color: $blanc;
  }

  form p {
    color: $gris-O !important;
  }
  .social a {
    color: $vert-C;
    font-size: calc($grand - 5px);
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 576px) {
  .footer-copy {
    font-size: calc($petit - 1.2px);
  }
}
