.navbar {
  background-color: $navbar-color !important;
  box-shadow: 0 3px 13px $dark;
  color: $dark;

  .navbar-nav {
    .nav-item {
      position: relative;

      & > a {
        position: relative;
        transition: 0.25s text-shadow;
        padding-left: 0;
        padding-right: 0;
        margin: 0 12px;

        &:hover {
          color: $blanc;
          text-shadow: 2px 0 3px $blanc-O, -2px 0 3px $blanc-O,
            0 2px 3px $blanc-O, 0 -2px 3px $blanc-O;
        }
      }

      & > a.active {
        color: $orange !important;

        @keyframes animeBefore {
          from {
            transform: scaleX(0);
          }

          to {
            transform: scaleX(1);
          }
        }

        &:hover {
          text-shadow: 2px 0 3px $orange-O, -2px 0 3px $orange-O,
            0 2px 3px $orange-O, 0 -2px 3px $orange-O;
        }
      }

      .dropdown-menu {
        background-color: $navbar-color;
        border: none !important;
        box-shadow: none;
        padding-top: 0;

        .dropdown-item {
          color: $gris;
          &:hover {
            color: $blanc;
            background-color: $orange;
          }

          &.active {
            color: $orange;
            background: none;
          }
        }

        &.show {
          animation: dropmenuAnim 3s linear forwards;
        }
      }
    }
  }

  .btns-container {
    justify-content: center;
  }
}

// ECRAN TABLETTE > 768px
@media screen and (min-width: 768px) {
  .navbar {
    // On enlève l'icone user qui permet de se connecter
    .user-icon {
      display: none;
    }
    // On met les boutons de connexion et de déconnexion
    .btns-container {
      display: flex !important;
    }

    .nav-item {
      & > a.active {
        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          bottom: 0;
          background-color: $orange;
          transform-origin: center;
          animation: animeBefore 0.65s linear forwards;
        }
      }
    }
    .dropdown-menu {
      padding-left: 0 !important;
    }
  }
}
