// Couleurs du thème
$orange: #e85f31;
$blanc: #fff;
$vert: #01423a;
$gris: #afafaf;
$navbar-color: #030f21;
$dark: #000000;

// Opacités
$blanc-O: rgba(255, 255, 255, 0.65);
$orange-O: rgba(232, 95, 49, 0.65);
$vert-O: rgba(1, 66, 58, 0.65);
$gris-O: rgba(129, 129, 129, 0.65);
$dark-O: rgba(0, 0, 0, 0.5);
$global-bg: #020a14;

// Taille des polices
$geant: 55px;
$grand: 30px;
$moyen: 16.5px;
$petit: 14px;
