/* Bouton par défaut */
.btn {
  position: relative;
  width: 155px;
  height: 35px;
  background-color: $orange;
  color: $blanc;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 45px;
  overflow: hidden;
  font-family: "Open Sans";
  font-size: $petit;
  font-weight: bold;
  transition: 0.25s box-shadow;
  div,
  span,
  i,
  p {
    pointer-events: none !important;
  }
  /* Span = Ripple */
  span {
    position: absolute;
    background-color: $blanc;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    animation: animateRipple 1s linear forwards;
  }

  &:hover {
    box-shadow: 0 0 9px $orange;
    color: $blanc;
  }

  &:focus {
    box-shadow: none;
  }
}
.btn-send {
  width: 40px !important;
  height: 40px !important;
}

.btn-outlined {
  background: none;
  color: $orange;
  border: 1.5px solid $orange !important;

  /* Span = Ripple */
  span {
    background-color: $orange;
  }

  &:hover {
    color: $orange;
  }
}
.btn-icon {
  font-size: calc($moyen + 5px);
  border-radius: 3px;
  width: auto;
  height: auto;
}

// Quand le menu déroulant est activé
.trigged {
  i:nth-of-type(1) {
    transform: translateX(-22%);
  }

  i:nth-of-type(2) {
    transform: translateY(-50%) scaleX(0.6) !important;
  }

  i:nth-of-type(3) {
    transform: translateX(22%);
  }
}

// Bouton pour en savoir plus sur un membre
.btn-rounded {
  width: 30px;
  height: 30px;
}
.user-icon {
  font-size: calc($grand - 3px);
  margin: 0 10px;
  border: none !important;
  width: auto !important;
  height: auto !important;
  &:hover {
    box-shadow: none !important;
  }
}
.navbar-toggler {
  border-radius: 5px;
  width: 45px;
  height: 38px;
  position: relative;
  border: none !important;
  &:hover {
    box-shadow: none !important;
  }
  i {
    pointer-events: none;
    height: 2.3px;
    border-radius: 100px;
    background-color: $orange;
    position: absolute;
    transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.732, 1.275);


    &:nth-of-type(1) {
      width: 45%;
      top: 20%;
    }

    &:nth-of-type(2) {
      width: 75%;
      top: 50%;
      transform: translateY(-50%);
      transform-origin: center;
    }

    &:nth-of-type(3) {
      width: 45%;
      bottom: 20%;
    }
  }
}
.nav-dropdown {
  background: none;
  width: 10px;
  height: 10px;
}
@keyframes animateRipple {
  0% {
    width: 0;
    height: 0;
    opacity: 0.35;
  }

  100% {
    width: 600px;
    height: 600px;
    opacity: 0;
  }
}
