* {
  box-sizing: border-box;
  user-select: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Open Sans";
}

a {
  text-decoration: none;
  font-family: "Montserrat";
  color: $blanc;
}

body {
  overflow-x: hidden;
}

.loader {
  width: 100vw;
  height: 100vh;
  background-color: $dark;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: $blanc;
  .spinner {
    width: 50px;
    height: 50px;
    border: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-radius: 50%;
    animation: spinerAnim 0.7s linear infinite;
  }
}

.global-container {
  position: relative;
  background-color: $navbar-color;
  height: auto;
  z-index: 10;
  display: none;
  overflow-x: hidden;
}
.rouge {
  background-color: #f05656 !important;
}
.vert {
  background-color: $vert-C;
}
.swal2-title {
  font-size: calc($petit) !important;
}
.submitted-message {
  color: $blanc !important;
}
.hubspot-link__container {
  display: none !important;
}

a.to-top {
  position: fixed;
  right: 5%;
  bottom: 5%;
  background-color: $orange;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  color: $blanc;
  i {
    pointer-events: none;
  }
}

a.extern-link {
  color: $blanc !important;
  transition: color 0.3s ease-in-out;
  &:hover {
    color: $orange !important;
  }
}
.card-profile {
  background-color: $dark;
  color: $gris;
  border-radius: 8px;
  .badge {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
  }
  .badge-mtn {
    border: 2.5px solid $jaune;
    color: $jaune;
    font-weight: 700;
    padding: 5px 10px;
  }
  .badge-orange {
    border: 2.5px solid $orange;
    color: $orange;
    font-weight: 700;
    padding: 5px 10px;
  }
  .badge-moov {
    border: 2.5px solid $bleu;
    color: $bleu;
    font-weight: 700;
    padding: 5px 10px;
  }
}

.glass {
  backdrop-filter: blur(15px);
  z-index: 60;
}

.bubbles {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1000;

  img {
    position: absolute;
    &.orange {
      width: calc(220px + 20vw);
      height: auto;
      left: -5%;
      bottom: 0;
    }
    &.blanc {
      width: calc(110px + 20vw);
      height: auto;
      right: 30%;
      top: 40%;
    }
    &.verte {
      width: calc(190px + 20vw);
      height: auto;
      right: -5%;
      top: -5%;
    }
  }
}

@keyframes spinerAnim {
  0% {
    border: 5px solid $orange;
    border-bottom: 5px solid transparent;
    transform: rotateZ(0deg);
  }
  33% {
    border: 5px solid $blanc;
    border-bottom: 5px solid transparent;
  }
  66% {
    border: 5px solid $vert-C;
    border-bottom: 5px solid transparent;
  }
  100% {
    border: 5px solid $orange;
    border-bottom: 5px solid transparent;
    transform: rotateZ(360deg);
  }
}

@media screen and (max-width: 1020px) {
  .bubbles {
    img {
      &.orange {
        width: calc(220px + 25vw);
        height: auto;
        left: -5%;
        bottom: 0;
      }
      &.blanc {
        width: calc(150px + 20vw);
        height: auto;
        right: 20%;
        bottom: 15%;
      }
      &.verte {
        width: calc(190px + 20vw);
        height: auto;
        right: -5%;
        top: -5%;
      }
    }
  }
}
@media screen and (max-width: 706px) {
  .bubbles {
    img {
      &.orange {
        width: calc(220px + 25vw);
        height: auto;
        left: -5%;
        bottom: 0;
      }
      &.blanc {
        width: calc(130px + 25vw);
        height: auto;
        right: 10%;
        bottom: 0%;
      }
      &.verte {
        width: calc(200px + 25vw);
        height: auto;
        right: -5%;
        top: -5%;
      }
    }
  }
}
