h1 {
  color: $blanc;
  position: relative;
}
.presentation {
  img.img-fluid {
    transform: scale(1.3);
  }
  img.img-items {
    position: absolute;
    // PC
    &:nth-of-type(2) {
      width: 170px;
      left: 10%;
      top: 18%;
    }
    // pen-tool
    &:nth-of-type(3) {
      width: 75px;
      right: 32%;
      top: 75%;
      z-index: -1;
    }
    // drawing-tool
    &:nth-of-type(4) {
      width: 95px;
      left: 28%;
      top: 78%;
    }
    // square
    &:nth-of-type(5) {
      width: 100px;
      right: 0;
      top: 5%;
      z-index: -1;
    }
    // X
    &:nth-of-type(6) {
      width: 85px;
      right: 20%;
      top: -5%;
      z-index: -1;
    }
    // circle
    &:nth-of-type(7) {
      width: 100px;
      right: 25%;
      top: 25%;
    }
    // triangle
    &:nth-of-type(8) {
      width: 125px;
      right: 12%;
      top: 38%;
    }
  }
}
.nosjeux {
  h1,
  span,
  p {
    text-align: right !important;
  }

  h1::after {
    left: calc(100% - 75px);
  }

  img {
    &:nth-of-type(2) {
      position: absolute;
      left: 20%;
      top: 57%;
    }

    &:nth-of-type(3) {
      position: absolute;
      left: 39%;
      top: 30%;
      z-index: -1;
    }

    &:nth-of-type(4) {
      position: absolute;
      right: 30%;
      top: 61%;
    }

    &:nth-of-type(5) {
      position: absolute;
      right: 18%;
      top: 10%;
      transform: rotate(36deg);
      animation: gamepadAnim 5.5s ease-in-out infinite;
    }
  }
}
.gara {
  background-color: $dark;
  box-shadow: 0 3px 13px #001815e3;
  border-radius: 65px 65px 0 0;
  .d-flex {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
  }
}
.nosservices {
  background-color: $dark;
  .col {
    height: 220px;
    position: relative;
    margin-top: 80px !important;
    .card {
      border-radius: 15px;
      background-color: $vert;
      width: 90%;
      height: 100%;
      img {
        position: absolute;
        left: 50%;
        top: -55%;
        transform: translateX(-50%);
        transform-origin: left;
        box-shadow: none !important;
      }
      img:first-of-type {
        animation: imgServicesAnim 6s linear infinite;
        top: -30%;
        z-index: 300;
      }
      img:last-of-type {
        animation: shadowAnim 6s linear infinite;
        top: 0;
      }
      p {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: calc($moyen - 2px);
        color: $blanc;
        text-align: center;
        padding: 0 30px;
        font-weight: 400;
      }
      .card-title {
        position: absolute;
        border-radius: 15px;
        background-color: $vert-C;
        margin: 0 !important;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        font-size: calc($moyen);
        font-weight: 800;
        color: $blanc;
        padding: 15px 0;
      }
      .shadow {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -40%);
      }
    }
  }
  .col:nth-of-type(1) {
    img:first-of-type {
      animation-delay: 1s;
    }
    img:last-of-type {
      animation-delay: 1s;
    }
  }
  .col:nth-of-type(2) {
    img:first-of-type {
      animation-delay: 0.3s;
    }
    img:last-of-type {
      animation-delay: 0.3s;
    }
  }
  .col:nth-of-type(3) {
    img:first-of-type {
      animation-delay: 1.5s;
    }
    img:last-of-type {
      animation-delay: 1.5s;
    }
  }
}
.equipe {
  background-color: $dark;
  .card {
    overflow: hidden;
    background-color: $vert;
    color: $blanc;
    width: 20em;
    height: 85%;
    background-color: $vert;
    border-radius: 2em;
    box-shadow: 0 0 2em rgba(0, 0, 0, 0.2);
    padding: 2em 1em;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 2em;

    .card-content {
      width: 100%;
      height: 100%;
      .card-image {
        width: 10em;
        height: 10em;
        border-radius: 50%;
        border: 2px solid $orange;
        position: absolute;
        left: 50%;
        top: 10%;
        transform: translateX(-50%);
        background-color: $vert-C;

        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          object-fit: cover;
        }
      }
      .nom-prenoms {
        font-size: calc($grand - 2px);
        font-weight: bold;
        position: absolute;
        top: 58%;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
      }
      .fonction {
        font-size: $petit;
        font-style: italic;
        position: absolute;
        top: 71%;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        line-height: $petit;
        .fondateur {
          color: $orange;
        }
      }
      .social {
        font-size: calc($moyen + 3.5px);
        font-style: italic;
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        line-height: $petit;
        a {
          transition: all 0.3s ease;
        }
        a:hover {
          transform: scale(0.85);
          color: $orange;
        }
      }
    }
    &:hover > .info {
      transform: translateY(0);
    }
    .btn-rounded {
      position: absolute;
      top: 5%;
      right: 5%;
      transition: transform 0.2s linear;
    }

    .infos {
      position: absolute;
      width: 100%;
      height: 75%;
      bottom: 0%;
      left: 50%;
      transform: translate(-50%, 110%);
      background-color: $orange;
      transform-origin: center;
      border-radius: 13.5% 0 0 0;
      transition: transform 0.3s linear;
      ul {
        list-style-type: none;
        padding: 0 !important;
      }
      span {
        font-weight: 300;
      }
      // le bout vert
      .container::after {
        content: "";
        position: absolute;
        width: 50px;
        height: 50px;
        bottom: 100.1%;
        right: 0.2%;
        border-radius: 0 0 85% 0;
        background-color: $vert;
      }

      // Le bout orange
      .container::before {
        content: "";
        position: absolute;
        width: 50px;
        height: 50px;
        bottom: 99%;
        right: 0%;
        background-color: $orange;
      }
    }

    .infosChecked {
      transform: translate(-50%, 0);
    }
    .infosCheckedR {
      transform: rotate(225deg);
    }
  }
  .swiper {
    width: 100%;
    height: 400px;
    .swiper-pagination-bullet {
      background-color: $gris;
    }
    .swiper-pagination-bullet-active {
      background-color: $orange;
    }
    .swiper-wrapper {
      width: 100%;
      display: flex;
      align-items: center;
    }
  }
}
.contact {
  background-color: $dark;
  label {
    color: $blanc;
  }
  .item {
    .title {
      color: $blanc;
      font-size: calc($moyen + 1px);
      font-weight: 500;
    }
    .value {
      color: $gris;
      font-weight: 400;
      font-size: calc($moyen - 4px);
    }
    .contact-item-text {
      div {
        font-size: calc($moyen + 2px);
        color: $blanc;
        font-weight: 600;
      }
      a.lien {
        font-size: calc($moyen - 1.5px);
        color: $gris;
        transition: all 0.5s ease;
        &:hover {
          color: $orange;
        }
      }
    }
    a.lien-icon {
      // position: absolute;
      color: $blanc;
      background-color: $vert;
      font-size: calc($moyen + 3px);
      width: 60px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      border: 2.5px solid transparent;
      transition: all 0.5s ease-in-out;
      white-space: nowrap;
      &:hover,
      &:active {
        border: 2.5px solid $orange;
        color: $orange;
      }
    }
  }
  label.error {
    font-size: 12px;
    color: $orange !important;
  }
  #message {
    resize: vertical;
  }
  .toast {
    font-size: $moyen !important;
    background-color: $vert-C !important;
    width: 100% !important;
  }
}

.presentation p,
.nosjeux p,
.gara p,
.equipe p,
.nosservices p,
.contact p {
  color: $gris;
  strong {
    color: $blanc !important;
    font-style: italic;
    font-weight: 700;
  }
  a {
    color: $orange;
    &:hover {
      text-decoration: underline;
    }
  }
}

@keyframes gamepadAnim {
  0% {
    transform: translateY(0) rotate(36deg);
  }

  33% {
    transform: translateY(25px) rotate(36deg);
  }

  100% {
    transform: translateY(0) rotate(36deg);
  }
}
@keyframes imgServicesAnim {
  0% {
    transform: scale(1) translate(-50%, 0);
  }

  50% {
    transform: scale(0.9) translate(-50%, 15px);
  }

  100% {
    transform: scale(1) translate(-50%, 0);
  }
}
@keyframes shadowAnim {
  0% {
    transform: scale(0.8) translateX(-50%);
  }

  50% {
    transform: scale(1) translateX(-50%);
  }

  100% {
    transform: scale(0.8) translateX(-50%);
  }
}

@media screen and (max-width: 1199px) {
  .presentation {
    img.img-items {
      position: absolute;
      // PC
      &:nth-of-type(2) {
        width: 145px;
        left: 10%;
        top: 17%;
      }
      // pen-tool
      &:nth-of-type(3) {
        width: 70px;
        right: 32%;
        top: 75%;
        z-index: -1;
      }
      // drawing-tool
      &:nth-of-type(4) {
        width: 65px;
        left: 28%;
        top: 78%;
      }
      // square
      &:nth-of-type(5) {
        width: 80px;
        right: 0;
        top: 5%;
        z-index: -1;
      }
      // X
      &:nth-of-type(6) {
        width: 65px;
        right: 20%;
        top: -5%;
        z-index: -1;
      }
      // circle
      &:nth-of-type(7) {
        width: 70px;
        right: 25%;
        top: 25%;
      }
      // triangle
      &:nth-of-type(8) {
        width: 100px;
        right: 12%;
        top: 38%;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .presentation {
    img.img-items {
      position: absolute;
      // PC
      &:nth-of-type(2) {
        width: 105px;
        left: 12%;
        top: 15%;
      }
      // pen-tool
      &:nth-of-type(3) {
        width: 55px;
        right: 32%;
        top: 75%;
        z-index: -1;
      }
      // drawing-tool
      &:nth-of-type(4) {
        width: 50px;
        left: 28%;
        top: 78%;
      }
      // square
      &:nth-of-type(5) {
        width: 65px;
        right: 0;
        top: 5%;
        z-index: -1;
      }
      // X
      &:nth-of-type(6) {
        width: 50px;
        right: 20%;
        top: -5%;
        z-index: -1;
      }
      // circle
      &:nth-of-type(7) {
        width: 55px;
        right: 25%;
        top: 25%;
      }
      // triangle
      &:nth-of-type(8) {
        width: 85px;
        right: 12%;
        top: 38%;
      }
    }
  }
}
@media screen and (max-width: 575px) {
  .presentation {
    img.img-items {
      position: absolute;
      // PC
      &:nth-of-type(2) {
        width: 28%;
        left: 13%;
        top: 18%;
      }
      // pen-tool
      &:nth-of-type(3) {
        width: 14%;
        right: 32%;
        top: 71%;
        z-index: -1;
      }
      // drawing-tool
      &:nth-of-type(4) {
        width: 13%;
        left: 28%;
        top: 76%;
      }
      // square
      &:nth-of-type(5) {
        width: 15%;
        right: 0;
        top: 5%;
        z-index: -1;
      }
      // X
      &:nth-of-type(6) {
        width: 12%;
        right: 20%;
        top: -5%;
        z-index: -1;
      }
      // circle
      &:nth-of-type(7) {
        width: 13.5%;
        right: 25%;
        top: 25%;
      }
      // triangle
      &:nth-of-type(8) {
        width: 19%;
        right: 12%;
        top: 38%;
      }
    }
  }
}
@media screen and (max-width: 400px) {
  .contact-item-text {
    div {
      font-size: calc($moyen) !important;
    }
    a.lien {
      font-size: calc($petit - 2px) !important;
    }
  }
}
@media screen and (max-width: 600px) {
  .game-png {
    width: 100%;
  }

  .nosjeux-rev {
    flex-direction: column-reverse;
  }

  .presentation {
    .row {
      justify-content: center;
    }

    img.boule {
      &:nth-of-type(2) {
        width: 30px;
      }

      &:nth-of-type(3) {
        width: 17px;
      }

      &:nth-of-type(4) {
        width: 26px;
      }
    }
  }

  .nosjeux {
    .d-grid {
      justify-content: end;
    }
    .game-png {
      transform: scale(0.7);
    }
  }

  .gara {
    border-radius: 30px 30px 0 0;
  }

  .contact {
    .means .value,
    .means .title {
      display: none;
    }
  }
}
@media screen and (min-width: 768px) {
  .global-bg {
    img {
      position: absolute;
      &.orange {
        height: auto;
        right: -15vw;
        top: -20vh;
      }
      &.blanc {
        top: 25vh;
      }
      &.vert {
        width: calc(150px + 20vw);
        height: auto;
        right: -15vw;
        bottom: -20vh;
      }
    }
  }
}
